<ul>
  <div class="answer-container" id="answer-<%= answer.id %>">
    <li class="animate__animated animate__fadeInDown">
      <div class="answer-item d-flex justify-content-between align-items-center mb-2 answer-<%= answer.choice.correct_option %>">
        <div class="answer-info">
          <h3>Nome: <%= answer.user.name %></h3>
          <p>Resposta: <%= answer.choice.option %></p>
        </div>
        <div class="answer-correction">
          <p><%= answer.choice.correct_option ? "Correta" : "Errada" %></p>
        </div>
      </div>
    </li>
  </div>
</ul>
